.header {
    width: 100%;
    border-bottom-color: #545454;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin: 35px 150px;
}

.header__logo {
    max-width: 173px;
    padding: 35px;
}

@media screen and (min-width:320px) and (max-width:600px) {
    .header {
        margin: 30px 30px;
    }

    .header__logo {
        max-width: 100px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    .header {
        margin: 30px 70px;
    }

}